<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User Edit</title>
</head>
<body>
  <!--formの％は全て消した状態で行うか？-->
    <h1>更新フォーム</h1>
    <form action="/update/<%= user[0].id %>" method="POST">
      名前:<input type="text" name="username" value="<%= user[0].username %>"><br>
      年齢:<input type="text" name="age" value="<%= user[0].age %>"><br>
      評価:<input type="text" name="rating" value="<%= user[0].rating %>"><br>
      理由:<input type="text" name="reason" value="<%= user[0].reason %>"><br>
      <button type="submit">更新</button>
    </form>
</body>
</html>