<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>商品レビュー機能作成</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="contents-wrap">
    <h1>商品レビュー</h1>
    <div class="selectbox-wrap">
      <label class="selectbox">
        <select class="sort" name="member">
            <option value="">選択してください</option>
            <option value="high">評価が高い順</option>
            <option value="low">評価が低い順</option>
            <option value="eva5">評価☆5</option>
            <option value="eva4">評価☆4</option>
            <option value="eva3">評価☆3</option>
            <option value="eva2">評価☆2</option>
            <option value="eva1">評価☆1</option>
        </select>
      </label>
    </div>
    <div class="table-wrap">
      <table class="table usersBox">
        <thead>
          <tr>
            <th>名前</th>
            <th>年齢</th>
            <th>評価☆</th>
            <th>理由</th>
          </tr>
        </thead>
        <% function isWelfare(num) { if(num===1) { return '有' ; } else { return '無' ; } } %>
        <tbody class="usersBoxInfo">
        <% users.forEach(function (value) { %>
          <tr>
            <td>
              <%= value.username %>
            </td>
            <td>
              <%= value.age %>
            </td>
            <td>
              <%= value.rating %>
            </td>
            <td>
              <%= value.reason %>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </div>
  </div>

</body>

<script>

  // 課題02 - 評価値のソート機能

  const users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
  const sort = document.querySelector('.sort');
  const usersBox = document.getElementsByClassName("usersBox");
  const usersBoxInfo = document.getElementsByClassName("usersBoxInfo");
  let userList = [];

  sort.addEventListener("change", function() {
    for (let i = 0; i < users.length; i++){
      // 一覧表削除
      console.log(usersBoxInfo[0])
      while(usersBoxInfo[0].firstChild){
        usersBoxInfo[0].removeChild(usersBoxInfo[0].firstChild);
      }
      if(sort.value === "high"){
        // 評価の高い順
        users.sort((a, b) => b.rating - a.rating);
        usersBox[0].insertAdjacentHTML("beforeend",`<tr><td>${users[i].username}</td><td>${users[i].age}</td><td>${users[i].rating}</td><td>${users[i].reason}</td></tr>`)
      }else if(sort.value === "low"){
        // 評価の低い順
        users.sort((a, b) => a.rating - b.rating);
        usersBox[0].insertAdjacentHTML("beforeend",`<tr><td>${users[i].username}</td><td>${users[i].age}</td><td>${users[i].rating}</td><td>${users[i].reason}</td></tr>`)
      }else if(sort.value === "eva5"){
        // // 評価☆5
        const filteredData = users.filter(value => value.rating === 5);
        
        
        usersBox[0].insertAdjacentHTML("beforeend",`<tr><td>${users[i].username}</td><td>${users[i].age}</td><td>${users[i].rating}</td><td>${users[i].reason}</td></tr>`)
      }else{
        console.log('失敗')
      }
    }
  }, false);






</script>
</html>